[data-bs-theme=dark] .pln {color: #dcdcdc}

@media screen{
    [data-bs-theme=dark] .str{color:#d69d85}
    [data-bs-theme=dark] .kwd{color:#569cd6}
    [data-bs-theme=dark] .com{color:#56a64a}
    [data-bs-theme=dark] .typ{color:#4ed2b1}
    [data-bs-theme=dark] .lit{color:#066}
    [data-bs-theme=dark] .pun,.opn,.clo{color:#dcdcdc}
    [data-bs-theme=dark] .tag{color:#569cd6}
    [data-bs-theme=dark] .atn{color:#4ed2b1}
    [data-bs-theme=dark] .atv{color:#080}
    [data-bs-theme=dark] .dec,.var{color:#4ed2b1}
    [data-bs-theme=dark] .fun{color:red}

}

@media print,projection{
    [data-bs-theme=dark] .str{color:#060}
    [data-bs-theme=dark] .kwd{color:#006;font-weight:bold}
    [data-bs-theme=dark] .com{color:#56a64a;font-style:italic}
    [data-bs-theme=dark] .typ{color:#404;font-weight:bold}
    [data-bs-theme=dark] .lit{color:#044}
    [data-bs-theme=dark] .pun,.opn,.clo{color:#440}
    [data-bs-theme=dark] .tag{color:#006;font-weight:bold}
    [data-bs-theme=dark] .atn{color:#404}
    [data-bs-theme=dark] .atv{color:#060}
}

[data-bs-theme=dark] pre.prettyprint{padding:2px;border:1px solid #888;background:#333}
[data-bs-theme=dark] ol.linenums {margin-top: 0;margin-bottom: 0}
[data-bs-theme=dark] li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}
[data-bs-theme=dark] li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}
