@page "/lab"

<h2>Lab - Index</h2>

<p>This page serves as an index for interactive demos and tools.</p>

<ul>
    <li><a href="lab/inference-demo">Inference Demo</a>: A demonstration of (FoL parsing and) inference with the knowledge bases found in the SCFirstOrderLogic.Inference.Basic package.</li>
    <li><a href="lab/path-tree-visualiser">Path Tree Visualiser</a>: An interactive visualiser for path trees as implemented by SCFirstOrderLogic.</li>
    <li><a href="lab/discrimination-tree-visualiser">Discrimination Tree Visualiser</a>: An interactive visualiser for discrimination trees as implemented by SCFirstOrderLogic.</li>
</ul>