@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.nuget.org/packages/SCFirstOrderLogic/"><img src="https://img.shields.io/nuget/v/SCFirstOrderLogic.svg?style=flat-square" alt="NuGet version (SCFirstOrderLogic)"/></a>
            <a href="https://github.com/sdcondon/SCFirstOrderLogic"><img src="img/GitHub-Mark-32px.png" alt="GitHub Repository (SCFirstOrderLogic)"/></a>
        </div>

        <article class="content px-4">
            @Body

            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted"></p>

                <a href="#" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"></a>

                <div class="nav col-md-4 justify-content-end text-muted">&copy; 2023-2024 Simon Condon</div>
            </footer>
        </article>
    </main>
</div>
