<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="SCFirstOrderLogic-32.png" alt="SCFirstOrderLogic icon"/> SCFirstOrderLogic</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="library-overview.md">
                <span class="bi bi-braces" aria-hidden="true"></span> Library Overview
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="getting-started.md">
                <span class="bi bi-info-circle" aria-hidden="true"></span> Getting Started
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="beyond-getting-started">
                <span class="bi bi-mortarboard-fill" aria-hidden="true"></span> Beyond Getting Started
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="roadmap.md">
                <span class="bi bi-signpost-split-fill" aria-hidden="true"></span> Roadmap
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
