<div class="top-row ps-1 navbar navbar-dark">
    <div class="container-fluid px-2 dropdown">
        <a class="navbar-brand dropdown-toggle" href="" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false"><img src="img/SCFirstOrderLogic-32.png" alt="SCFirstOrderLogic icon" /> SCFirstOrderLogic</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="https://sdcondon.net/FlUnit"><img src="https://sdcondon.net/FlUnit/img/FlUnit-32.png" /> FlUnit</a></li>
            <li><a class="dropdown-item" href="https://sdcondon.net/SCClassicalPlanning"><img src="https://sdcondon.net/SCClassicalPlanning/img/SCClassicalPlanning-32.png" /> SCClassicalPlanning</a></li>
            <li><a class="dropdown-item" href="https://sdcondon.net/SCGraphTheory"><img src="https://sdcondon.net/SCGraphTheory/img/SCGraphTheoryIcon-32.png" /> SCGraphTheory</a></li>
            <li><a class="dropdown-item" href="https://sdcondon.net/SCSetTrie"><img src="https://sdcondon.net/SCSetTrie/img/SCSetTrie-32.png" /> SCSetTrie</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://sdcondon.net/"><img src="https://sdcondon.net/favicon.ico" /> Personal Homepage</a></li>
        </ul>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-1">
            <NavLink class="nav-link px-2" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link px-2" href="library-overview">
                <span class="bi bi-braces" aria-hidden="true"></span> Library Overview
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link px-2" href="getting-started">
                <span class="bi bi-info-circle" aria-hidden="true"></span> Getting Started
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link px-2" href="beyond-getting-started">
                <span class="bi bi-mortarboard-fill" aria-hidden="true"></span> Beyond Getting Started
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link px-2" href="lab">
                <span class="bi bi-tools" aria-hidden="true"></span> Lab
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link px-2" href="roadmap">
                <span class="bi bi-signpost-split-fill" aria-hidden="true"></span> Roadmap
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link px-2" href="see-also">
                <span class="bi bi-box-arrow-up-right" aria-hidden="true"></span> See Also
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
