<div class="nav-item px-1">
    <NavLink class="nav-link px-2" href=@Href Match=@Match>
        <span class="bi @IconClass" aria-hidden="true"></span> @Text
    </NavLink>
</div>

@code {
    [Parameter]
    public required string Href { get; set; }

    [Parameter]
    public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix;

    [Parameter]
    public required string IconClass { get; set; }

    [Parameter]
    public required string Text { get; set; }
}
