@page "/roadmap"

<PageTitle>Vision & Roadmap</PageTitle>

<h1>Roadmap</h1>

<p>Long-term, this library will be "done" when I think that it does its "learning and experimentation" job adequately, and provides enough extension points for people to extend it should they so wish. In particular, I don't intend to add any particularly powerful or complex inference logic to this package - the simple implementations are enough.</p>

<p>Priorities at the time of writing:</p>
<ul>
    <li>Take a look at creating a FoL syntax parser in the SentenceCreation namespace.</li>
    <li><em>As always, anything that's labelled as TODO in the code. Clone the repo and use your IDE's TODO/Task list functionality (TODOs are generally expressed as `// TODO..` or `/// TODO`) to see individual things I want to do.</em></li>
</ul>

<p>Breaking changes on the list for v4:</p>
<ul>
    <li>Revisit sentence formatting</li>
</ul>

<p>On the back-burner, for later consideration:</p>
<ul>
    <li><em>Nothing at the mo</em></li>
</ul>
