# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
indent_style = space

# CS files
[*.cs]
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1208.severity = none
dotnet_diagnostic.SA1407.severity = none
dotnet_diagnostic.SA1633.severity = none
#dotnet_diagnostic.SA1008.severity = none
#dotnet_diagnostic.SA1107.severity = none
#dotnet_diagnostic.SA1501.severity = none
#dotnet_diagnostic.SA1502.severity = none
#dotnet_diagnostic.SA1513.severity = none
#dotnet_diagnostic.SA1516.severity = none
#dotnet_diagnostic.SA1652.severity = none